```
# Database
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
*.env
.env.*
.env.local
.env.production
.env.development
.env.test
.env.staging
.env.backup
.env.example
.python-version
.python-history
.python_history
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/
.tox/
.hypothesis/
.DS_Store
Thumbs.db
```